@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html,body{
    margin: 0;
    padding: 0;
}
.navbar{
     background-color:rgb(0, 0, 0);
     padding: 14px 16px;
    border-top: 2px;
    border-top: solid rgb(255, 255, 255);
}
.nav-item{
    font-size: 15px;
    margin-left: 5px;

}

.navbar a{
    color: rgb(0, 0, 0);
}
 
header{
    padding: 10px;
    color: rgb(255, 255, 255);
    height: 30vh;
    width: 35px 55px;
    display: flex ;
    text-align: center;
    justify-content: center ;
    align-items: left;
    font font-family: "Helvetica Neue",Helvetica,Arial;
    background-color: rgb(44, 40, 82);
}
.Events h1{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 114, 124);
}
.Events img
{
    max-width: 600px;
    max-height: 900px;
    margin-left: 10px;
    margin-bottom: 10px;
;
}
.Events .Content{
    display: flex;
}
.Events p {
    background-color: rgba(255, 255, 255, 0.585);
    font-size: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    display: inline-block;
    align-items: center;
}
.header-content h1 {
    font-size: 40px;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
}

/*------------ Login container ------------*/

.box-area{
    width: 700px;
    height: 480x;
    background-color: #ffffff;

}

/*------------ Right box ------------*/

.right-box{

    background-color: rgb(255, 255, 255);
}
.right-box h3{
   margin-top: 10px;
    font-size:  20px;
}
/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 17px;

}

.rounded-3{
    border-radius: 2px;
    background-color:rgb(44, 40, 82);
}
.rounded-4{
    border-radius: 4px;
    background-color: rgb(44, 40, 82);
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}
